# Oasis InfoByte DataScience Task 4

### Email Spam Prediction
#### using Machine Learning
##### Libraries Used :-
*Pandas*, *Numpy*, *Matplotlib*, *ScikitLearn*

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('spam.csv', encoding='utf-8')

In [8]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [9]:
df.shape

(5572, 5)

# Cleaning Data

In [11]:
df.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace =True)
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will �_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [12]:
df.isnull().sum()

v1    0
v2    0
dtype: int64

In [16]:
print(df.v1.value_counts())

ham     4825
spam     747
Name: v1, dtype: int64

In [17]:
df.replace({'v1':{'ham' : 0, 'spam' : 1}}, inplace = True)

In [18]:
df.head()

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...

In [19]:
df.drop_duplicates(inplace = True)

In [20]:
df.shape

(5169, 2)

# Splitting and Training

In [32]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [24]:
model = CountVectorizer()

In [29]:
x = df['v2']
y = df['v1']

In [31]:
x = model.fit_transform(x)

In [ ]:
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will �_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5169, dtype: object

In [33]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.1, random_state=2)

In [34]:
from sklearn.naive_bayes import MultinomialNB

In [35]:
model1 = MultinomialNB()

In [36]:
model1.fit(x_train, y_train)

MultinomialNB()

# Testing accuracy of model

In [37]:
print("accuracy :- ", model1.score(x_test, y_test) *100, "%")

accuracy :-  96.90522243713733 %